<html>
<body>
    <form action="/add" method="post">
        <label>nume</lable>
        <input name="nume" type="text"></input><br>
        <label>email</lable>
        <input name="email" type="text"></input><br>
        <label>telefon</lable>
        <input name="telefon" type="text"></input><br>
        <button type="submit"></button>
    </form>
</body>
</html>