<html>
<body>
    <a href ="/add"></a><br>
    <table>
        <tr>
            <th>nume</th>
            <th>email</th>
            <th>telefon</th>
        </tr>
        {{#contacts}}
        <tr>
            <td>{{nume}}</td>
            <td>{{email}}</td>
            <td>{{#telefon}} {{telefon}} {{/telefon}} {{^telefon}} necunoscut {{/telefon}}</td>
            <td><a href="/edit?id={{id}}">Edit</a></td>
        </tr>
        {{/contacts}}
        
    </table>
</body>
</html>